<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello Auction</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans|Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/css/list-view.css" rel="stylesheet">

</head>

<body id="page-top">
<% include ../partial-layout/header%>
  <!-- Header -->
   <header class="masthead">
    <div class="container">
        <% include ../partial-layout/search-bar%>
  </header>
  <!-- Main View -->
   <section class="bg-light page-section" id="list">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"><%= category.name %> - <%= category.description %></h2>
          <h3 class="section-subheading text-muted">Các sản phẩm hiện có (<%= category.length %> sản phẩm)</h3>
        </div>
      </div>
      <div class="row">
        <% list.forEach(function(item) { %>
        <div class="col-md-4 col-sm-6 list-item">
          <a class="list-link" data-toggle="modal" href="#P<%= item.ID %>">
            <div class="list-hover">
              <div class="list-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/thumbnail/<%= item.ID %>-thumbnail.jpg">
          </a>
          <div class="list-caption">
            <h4><%= item.name %></h4>
            <p class="text-muted">Chủ sở hữu: ****<%= item.hold.substring(4,50) %></p>
            <p class="text-muted">Giá hiện tại: $<%= item.price %></p>
          </div>
        </div>
        <% }); %>
        </div>
      <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">First</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/list-view/1?category=<%= catID %>">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/list-view/<%= i %>?category=<%= catID %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/list-view/<%= pages %>?category=<%= catID %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
      </div>
  </section>
  <!-- Footer -->
  <% include ../partial-layout/footer%>
  <!-- list Modals -->
    <!-- Modal 1 -->
    <% list.forEach(function(item) { %>
    <div class="list-modal modal fade" id="P<%= item.ID %>" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row featurette ">
                        <div class="col-lg-5 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid" src="/img/thumbnail/<%= item.ID %>-thumbnail.jpg">
                                <div>
                                    <button type="button" class="btn-bid btn-outline-warning"><a href="/detailsProduct?id=<%= item.id %>"><i class="fas fa-search"></i></a></button>
                                    <button type="button" class="btn-bid btn-outline-warning"><i class="far fa-heart"></i></button>
                                    <button type="button" class="btn-bid btn-outline-warning"><i class="fas fa-gavel"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 mx-auto">
                            <h1 class=" product-title ">
                                <%= item.name %>
                            </h1>
                            <h1 class=" product-price mt-4"> Current Bid: $
                                <%= item.price %>
                            </h1>
                            <hr class="featurette-divider">
                            <p class="content"><%= item.details %></p>
                            <button type="button" class="btn-buynow btn-warning  mb-5">BUY NOW FOR $
                                <%= item.buynow %>
                            </button>
                            <ul class="list-inline content mx-auto">
                                <li>People post the product: <%= item.own %></li>
                                <li>Posted date: <%= item.dateStart %></li>
                                <li>End date: <%= item.dateEnd %></li>
                                <li>Category: <%= item.type %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/index.js"></script>

</body>

</html>
