<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello Auction</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans|Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/bidder-review.css" rel="stylesheet">
  
  <style type="text/css">
  .bar-up {width: <%= percentLike %>%; height: 18px; background-color: #4CAF50;}
  .bar-down {width: <%= percentDislike %>%; height: 18px; background-color: #2196F3;}
  </style>
</head>

<body id="page-top">
<% include ../partial-layout/header%>
    <!-- Header -->
  <header class="masthead">
     <% include ../partial-layout/search-bar%>
            </br></br>
    </header>

    <!-- container -->
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-4">
                <div class="profile-sidebar">
                    <!-- card profile -->
                    <div class="card">
                        <!-- <img src="/img/profile/user-<%= uid%>.jpg" alt="" style="width:100%"> -->
                        <h1 class="mt-3">****<%= user1.name.substring(4,50) %></h1>
                        <!--   <p class="title">CEO & Founder, Example</p> -->
                        <p><a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a></p>
                        <div>
                          <button class="btn-contact">Contact</button>
                        </div>
                        <div>
                            <hr class="featurette-divider "> 
                            <span class="heading"><b>User Rating</b></span>
                            <br>
                            <span class="heading">Point: <%= point %></span>
                            <div class="row-rate">
                                <div class="side">
                                    <div><a><i class="far fa-thumbs-up"></i></a></div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-up"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div><%= totalLike.totalLike %></div>
                                </div>
                            </div>
                            <div class="row-rate">
                                <div class="side">
                                    <div><a><i class="far fa-thumbs-down"></i></a></div>
                                </div>
                              <div class="middle">
                                  <div class="bar-container">
                                      <div class="bar-down"></div>
                                  </div>
                              </div>
                              <div class="side right">
                                    <div><%= totalDislike.totalDisLike %></div>

                              </div>
                              <hr class="featurette-divider "> 
                            </div>
                        </div>
                            
                    </div> 
                </div>
            </div>

        
                <!-- menu -->
           <!--  <div class="topnav">
                  <a class="active" href="/bidder/bidder-review/1">Reviews</a>
                  <a href="/bidder/bidder-wonproduct/1">Won products</a>
                  <a  href="/bidder/bidder-bidding/1">Bidding products</a>
                   <a href="/bidder/bidder-watchlist/1">Watch list</a>
             
            </div>      -->  
            <div class="col-lg-8">   
                <div class="profile-content">
                  <div class="left-border">
                    <h3><b>Reviews</b></h3>
                  </div>
                 <!-- tab menu content -->
               <!-- Main View -->

            <section class="bg-light page-section">
                  <div class="container">
                  
                    <% reviews.forEach(function(review) { 
                        if (review.status === 1) {%>
                      <div class="review-card">
                          <div class="row">
                              <div class="col-md-2">
                                <img class="review-avatar"src="/img/profile/user-<%=review.reviewerId%>.jpg">
                              </div>
                              <div class="col-md-10 mt-3 ">
                                <span>
                                  <h4 class="mb-0"> <%= review.reviewerName %> <i class="far fa-thumbs-up"></i></h4>
                                 <!--  <a class="text-muted" >  <%= review.time %></a> -->
                                 <!--   </br> -->
                                  <div class="review mb-3 mt-2 mr-3"><a class="text-muted "> <%= review.review %></a>
                                  </div>
                                </span>
                              </div>
                          </div>
                      </div>
                      <% } else {%>
                        <div class="review-card">
                            <div class="row">
                                <div class="col-md-2">
                                  <img class="review-avatar"src="/img/profile/user-<%=review.reviewerId%>.jpg">
                                </div>
                                <div class="col-md-10 mt-3 ">
                                  <span>
                                    <h4 class="mb-0"> <%= review.reviewerName %> <i class="far fa-thumbs-down"></i></h4>
                                   <!--  <a class="text-muted" >  <%= review.time %></a> -->
                                   <!--   </br> -->
                                    <div class="review mb-3 mt-2 mr-3"><a class="text-muted "> <%= review.review %></a>
                                    </div>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                      <hr class="featurette-divider ">
                    <% }); %>
                  
                    <% if (pages > 0) { %>
                        <ul class="pagination  justify-content-center">
                            <% if (current == 1) { %>
                                <li class="page-item disabled"><a class="page-link">First</a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/bidder/review/1?id=<%= uid %>">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/bidder/review/<%= i %>?id=<%= uid %>"><%= i %></a></li>
                                <% } %>
                                <% if (i == Number(current) + 4 && i < pages) { %>
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                                <li class="page-item disabled"><a class="page-link">Last</a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/bidder/review/<%= pages %>?id=<%= uid %>">Last</a></li>
                            <% } %>
                        </ul>
                    <% } %>
                   </div>
                </section>
            </div>
        </div>
    </div>
  </div>

  <!-- Footer -->
  <% include ../partial-layout/footer%>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/bidder-review.js"></script>
 


</body>

</html>
