<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Auction</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans|Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="../css/seller-review.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="../index.html">Hello Auction</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              CATEGORIES
            </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li class="dropdown-submenu">
                                    <a class="drop dropdown-item" href="#"> Electronice device &nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Smartphone</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Laptop</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="#">Household appliance</a></li>
                                <li><a class="dropdown-item" href="#">Beauty</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item non-drop">
                        <a class="nav-link test js-scroll-trigger" href="#masthead">PRODUCTS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#list" id="navbarDropdown" role="button" data-toggle="dropdown">
              CHARTS
            </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../list-view.html">Hottest</a>
                            <a class="dropdown-item" href="../list-view.html">Best price</a>
                            <a class="dropdown-item" href="../list-view.html">Almost end</a>
                            <a class="dropdown-item" href="../list-view.html">Highest price</a>
                        </div>
                    </li>
                    <li class="nav-item non-drop">
                        <a class="nav-link test js-scroll-trigger" href="#faq">FAQ</a>
                    </li>
                    <li class="nav-item non-drop">
                        <a class="nav-link test js-scroll-trigger" href="#services">ABOUT US</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle border-user" id="navbarDropdown" href="#" data-toggle="dropdown">

                            <span class="dot"><img class="avatar"src="../img/profile/user02.png"></span> Gia Lợi

                        </a>
                        <div class="dropdown-menu">
                            <!--<a class="dropdown-item" href="seller-account-setting.html">Account setting</a>-->
                            <a class="dropdown-item" href="seller-watchlist.html">Watch list</a>
                            <a class="dropdown-item" href="seller-bidding.html">Bidding products</a>
                            <a class="dropdown-item" href="seller-wonproduct.html">Won Products</a>
                            <a class="dropdown-item" href="seller-review.html">Reviews</a>
                            <a class="dropdown-item" href="seller-auctioned-product.html">Auctioned product</a>
                            <a class="dropdown-item" href="seller-myproduct.html">My product</a>
                            <a class="dropdown-item" href="seller.html">Post new product</a>
                            <a class="dropdown-item" href="../index.html">Log out</a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="input-group search-bar text-center">
                <div class="input-group-prepend dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <i class="fas fa-filter"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Search by name</a>
                        <a class="dropdown-item" href="#">Search by category</a>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Search your goods">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                </div>

            </div>
            <br> <br>
        </div>
    </header>

    <!-- container -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="profile-sidebar">
                    <!-- card profile -->
                    <div class="card">
                        <img src="../img/profile/user<%= user.ID %>.png" alt="John" style="width:100%">
                        <h1 class="mt-3">
                            <%= user.name %>
                        </h1>
                        <p class="title">CEO & Founder, Example</p>
                        <p><a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a></p>
                        <div>
                            <button class="btn-contact">Contact</button>
                        </div>
                        <div>
                            <hr class="featurette-divider ">
                            <span class="heading"><b>Your Rating</b></span>
                            <div class="row-rate">
                                <div class="side">
                                    <div><a><i class="far fa-thumbs-up"></i></a></div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-up"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>
                                        <%= user.numLike %>
                                    </div>
                                </div>
                            </div>
                            <div class="row-rate">
                                <div class="side">
                                    <div><a><i class="far fa-thumbs-down"></i></a></div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-down"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>
                                        <%= user.numDislike %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr class="featurette-divider ">
                            <p><b>You are a seller </b></p>
                        </div>
                        <div>
                            <hr class="featurette-divider ">
                            <p><b>Member Since:</b></p>
                            <p class="text-muted">
                                <%= user.dateJoin %>
                            </p>
                        </div>
                        <div>
                            <hr class="featurette-divider ">
                            <p><b>Total Buy:</b></p>
                            <p class="text-muted">250</p>
                        </div>
                        <div>
                            <hr class="featurette-divider ">
                            <p><b>Web site:</b></p>
                            <p class="text-muted">www.1234.com</p>
                        </div>
                        <div>
                            <hr class="featurette-divider ">
                            <p><button>Account setting</button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- menu -->
                <div class="topnav mt-7">
                    <a href="seller-watchlist.html">Watch list</a>
                    <a href="seller-bidding.html">Bidding products</a>
                    <a href="seller-wonproduct.html">Won products</a>
                    <a href="seller-review.html" class="active">Reviews</a>
                </div>
                <div class="topnav mt-7">
                    <a href="seller-auctioned-product.html">Auctioned product</a>
                    <a href="seller-myproduct.html">My product</a>
                </div>
                <div class="profile-content">
                    <!-- tab menu content -->
                    <!-- Main View -->
                    <section class="bg-light page-section">
                        <div class="container">
                            <% review.forEach(function(review) { %>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img class="review-avatar" src="../img/profile/user<%= review.userID %>.jpg">
                                    </div>
                                    <div class="col-md-10">
                                        <span>
                         <p> <h4><%= review.userName %><i class="far fa-thumbs-up"></i></h4></p>
                        <p class="text-muted"><%= review.time %></p>
                        <p class="text-muted"> Alo blalalalalaalaalalalalalalla lalalalalalalalalalala</p>
                      </div>
                       </span>
                                    </div>
                                    <hr class="featurette-divider ">
                                    <% }) %>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                            <% pagination.forEach(function(page) { %>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">
                                                        <%= page.number %>
                                                    </a>
                                                </li>
                                                <% }) %>
                                                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                </div>
                    </section>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer -->
        <% include ../partial-layout/footer%>



            <!-- Bootstrap core JavaScript -->
            <script src="../vendor/jquery/jquery.min.js"></script>
            <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for this template -->
            <script src="../js/bidder-review.js"></script>



</body>

</html>