<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Auction</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans|Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/seller-review.css" rel="stylesheet">

</head>


<body id="page-top">

    <!-- Navigation -->
    <% include ../partial-layout/header%>
        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="input-group search-bar text-center">
                    <div class="input-group-prepend dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <i class="fas fa-filter"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Search by name</a>
                            <a class="dropdown-item" href="#">Search by category</a>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Search your goods">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>

                </div>
                <br> <br>
            </div>
        </header>

        <!-- container -->
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="profile-sidebar">
                        <!-- card profile -->
                        <div class="card">
                            <img src="/img/profile/user-<%= idU%>.jpg" alt="" style="width:100%">
                            <h1 class="mt-3">
                                <%= user.name %>
                            </h1>
                            <p><a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a></p>
                            <div>
                                <button class="btn-contact">Contact</button>
                            </div>
                            <div>
                                <hr class="featurette-divider ">
                                <span class="heading"><b>User Rating</b></span>
                                <br>
                                <span class="heading">Point: <%= point %></span>
                                <div class="row-rate">
                                    <div class="side">
                                        <div><a><i class="far fa-thumbs-up"></i></a></div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-up"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>
                                            <%= totalLike.totalLike %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-rate">
                                    <div class="side">
                                        <div><a><i class="far fa-thumbs-down"></i></a></div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-down"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>
                                            <%= totalDislike.totalDisLike %>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr class="featurette-divider ">
                                <p><b>You are a seller </b></p>
                            </div>
                            <div>
                                <hr class="featurette-divider ">
                                <p><button class="btn btn-dark"><a href="/seller/postProduct-seller">Post new product</a></button></p>
                            </div>
                        </div>
                    </div>
                </div>
           
            <div class="col-lg-8">
                <!-- menu -->
                <div class="topnav mt-5">
                    <a href="/seller/watchList-seller/1">Watch list</a>
                    <a href="/seller/bidding-seller/1">Bidding products</a>
                    <a href="/seller/wonProduct-seller/1">Won products</a>
                    <a href="/seller/review-seller/1" class="active">Reviews</a>
                </div>
                <div class="topnav mt-7">
                    <a href="/seller/auctionedProduct-seller/1">Auctioned product</a>
                    <a href="/seller/myProduct-seller/1">My product</a>
                </div>
                <div class="profile-content">
                    <!-- tab menu content -->
                    <!-- Main View -->
                    <section class="bg-light page-section">
                        <div class="container">
                            <% review.forEach(function(review) { %>
                                <section class="bg-light page-section">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="review-avatar" src="/img/profile/user-<%= review.reviewerID%>.jpg">
                                            </div>
                                            <div class="col-md-10"><span>
                                        <p> <h4><%= review.reviewerName %><i class="far fa-thumbs-up"></i></h4></p>
                                        <p class="text-muted"> <%= review.time %></p>
                                        <p class="text-muted"> <%= review.review%> </p>
                                    </span></div>

                                        </div>
                                        <hr class="featurette-divider ">
                                        <% }) %>

                                            <% if (pages > 0) { %>
                                                <ul class="pagination justify-content-center text-center">
                                                    <% if (current == 1) { %>
                                                        <li class="page-item disabled"><a class="page-link">First</a></li>
                                                        <% } 
                                                    else { %>
                                                            <li class="page-item"><a class="page-link" href="/1">First</a></li>
                                                            <% } %>
                                                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                                                    <% if (i !== 1) { %>
                                                                        <li class="page-item disabled"><a class="page-link">...</a></li>
                                                                        <% } %>
                                                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                                                <% if (i == current) { %>
                                                                                    <li class="page-item active">
                                                                                        <a class="page-link">
                                                                                            <%= i %>
                                                                                        </a>
                                                                                    </li>
                                                                                    <% } 
                                                                    else { 
                                                                        %>
                                                                                        <li class="page-item">
                                                                                            <a class="page-link" href="/<%= i %>">
                                                                                                <%= i %>
                                                                                            </a>
                                                                                        </li>
                                                                                        <% } %>
                                                                                            <% if (i == Number(current) + 4 && i < pages) { %>
                                                                                                <li class="page-item disabled"><a class="page-link">...</a></li>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                                                        <% if (current == pages) { %>
                                                                                                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                                                                                                            <% } else { %>
                                                                                                                <li class="page-item"><a class="page-link" href="/<%= pages %>">Last</a></li>
                                                                                                                <% } %>
                                                </ul>
                                                <% } %>
                                    </div>
                                </section>

                        </div>
                    </section>
                </div>
            </div>
        </div>
        </div>

        <!-- Footer -->
        <% include ../partial-layout/footer%>



            <!-- Bootstrap core JavaScript -->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for this template -->
            <script src="/js/bidder-review.js"></script>



</body>

</html>